<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update幂等性演示</title>-->
<!--</head>-->
<!--<body>-->
{%extends "header.html" %}
{% block mainbody%}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-pills">
				<li>
					<a href="/delete">Delete幂等性</a>
				</li>
				<li>
					<a href="/update">Update幂等性</a>
				</li>
				<li class="active">
					<a href="#">Insert幂等性</a>
				</li>
			</ul>
		</div>
	</div>
</div>
    <p>Insert幂等性</p>
{% endblock %}
<!--</body>-->
<!--</html>-->